Repository offa/influxdb-cxx, pull requests merged in 2020-10, with the labels that each got.

#50 fix: conan create package
  conan/CMakeLists.txt
  conanfile.py
Labels: bug, conan

#51 fix: memory leak in HTTP::query
  src/HTTP.cxx
Labels: bug

#52 Improve target export
  .github/workflows/ci.yml
  README.md
  cmake/InfluxDBConfig.cmake.in
Labels: cmake, enhancement

#54 Execute tests in CI
  .github/workflows/ci.yml
  script/ci_test.sh
  test/testHttp.cxx
Labels: ci, test
